
/* Your CSS Code here. */
table{
	border:2px solid black;
	border-collapse:collapse;
	width:100%;
	text-align:center;
}

th,td{
	border:1px solid black;
	padding:8px;
	
}

.nested{
	width:100%;
	border:1px solid black;
	
}
.black-cell{
	background-color:black;
	color:white;
	font-weight:bold;
}